body {
	background-color: #455A64;
}

button {
  padding: 5px 10px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4DB6AC;
  border: none;
  border-radius: .4rem;
  box-shadow: 0 4px #90A4AE;
}

button:hover {
	transition: ease-in-out 200ms;
  background-color: #26A69A;
}

button:active {
  background-color: #26A69A;
  box-shadow: 0 2px #78909C;
  transform: translateY(4px);
}

input{
	padding: .5em;
	border-radius: .5rem;
}
.node circle {
  fill: #FAFAFA;
  stroke: #26A69A;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #ECEFF1;
  stroke-width: 2px;
}
