@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html {
  overflow: hidden;
}

body {
  text-align: center;
  color: white;
  background-color: #455a64;
}

nav {
  display: flex;
  justify-content: center;
}

button {
  margin-left: 1rem;
  padding: 0.1rem 0.6rem;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4db6ac;
  border: none;
  border-radius: 0.4rem;
  box-shadow: 0 4px #90a4ae;
}

button:hover {
  transition: ease-in-out 200ms;
  background-color: #26a69a;
}

button:active {
  background-color: #26a69a;
  box-shadow: 0 2px #78909c;
  transform: translateY(4px);
}

input {
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.node circle {
  fill: #fafafa;
  stroke: #26a69a;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #eceff1;
  stroke-width: 2px;
}
